/*
  Night Owl by Sarah Drasner
  Adapted from prism port by Sara Vieira
  https://github.com/SaraVieira/prism-theme-night-owl/blob/master/style.css
*/

body {
  --night-owl-1: #d6deeb;
  --night-owl-2: rgba(29, 59, 83, 0.99);
  --night-owl-3: #011627;
  --night-owl-4: rgb(99, 119, 119);
  --night-owl-5: rgb(199, 146, 234);
  --night-owl-6: rgb(178, 204, 214);
  --night-owl-7: rgba(239, 83, 80, 0.56);
  --night-owl-8: rgb(128, 203, 196);
  --night-owl-9: rgb(127, 219, 202);
  --night-owl-10: rgb(255, 88, 116);
  --night-owl-11: rgb(247, 140, 108);
  --night-owl-12: rgb(130, 170, 255);
  --night-owl-13: rgb(173, 219, 103);
  --night-owl-14: rgb(255, 203, 139);
  --night-owl-15: rgb(214, 222, 235);
  --night-owl-16: white;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--night-owl-1);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;

  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: var(--night-owl-2);
  border-radius: 4px;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none;
  background: var(--night-owl-2);
  border-radius: 4px;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code,
pre {
  color: var(--night-owl-16);
  background: var(--night-owl-3);
  border-radius: 0.3em;
}

:not(pre) > code {
  padding: 0.2em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.cdata {
  color: var(--night-owl-4);
  font-style: italic;
}

.token.punctuation {
  color: var(--night-owl-5);
}

.namespace {
  color: var(--night-owl-6);
}

.token.deleted {
  color: var(--night-owl-7);
  font-style: italic;
}

.token.symbol,
.token.property {
  color: var(--night-owl-8);
}

.token.tag,
.token.operator,
.token.keyword {
  color: var(--night-owl-9);
}

.token.boolean {
  color: var(--night-owl-10);
}

.token.number {
  color: var(--night-owl-11);
}

.token.constant,
.token.function,
.token.builtin,
.token.char {
  color: var(--night-owl-12);
}

.token.selector,
.token.doctype {
  color: var(--night-owl-5);
  font-style: italic;
}

.token.attr-name,
.token.inserted {
  color: var(--night-owl-13);
  font-style: italic;
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string {
  color: var(--night-owl-13);
}

.token.class-name,
.token.atrule,
.token.attr-value {
  color: var(--night-owl-14);
}

.token.regex,
.token.important,
.token.variable {
  color: var(--night-owl-15);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
